* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
}

#head {
  width: 100%;
  height: 177px;
}

#head .top {
  width: 100%;
  height: 28px;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}

#head .top .top1 {
  width: 1090px;
  height: 28px;
  margin: auto;
  background: #f2f2f2;
}

#head .top .top1 .zuo li,
#head .top .top1 .right li {
  margin: 0;
  margin-right: 20px;
  list-style: none;
  float: left;
  line-height: 28px;
  color: #6c6c6c;
}

#head .top .top1 .zuo li a,
#head .top .top1 .right li a {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 14px;
}

#head .top .top1 .zuo li a #shou,
#head .top .top1 .right li a #shou {
  color: #ed145B;
}

#head .top .top1 .zuo li a:hover,
#head .top .top1 .right li a:hover {
  color: #ed145B;
}

#head .top .top1 .right {
  display: block;
  float: right;
}

#head .center {
  width: 1090px;
  height: 110px;
  margin: auto;
}

#head .center .hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: 2px solid #aca7a7;
  position: absolute;
  margin-left: 800px;
  display: none;
  background: white;
  z-index: 10;
}

#head .center .hover li {
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 28px;
}

#head .center .hover li a {
  text-decoration: none;
  color: #6c6c6c;
}

#head .center .hover li a:hover {
  color: #ed145B;
}

#head .center .hover-1 {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: 975px;
  margin-top: 0px;
  display: none;
  z-index: 10;
  border: 2px solid #aca7a7;
  background: white;
}

#head .center .hover-1 li {
  list-style: none;
  margin-left: 15px;
  line-height: 28px;
  font-size: 14px;
}

#head .center .hover-1 li a {
  text-decoration: none;
  color: #6c6c6c;
}

#head .center .hover-1 li a:hover {
  color: #ed145B;
}

#head .center .logo {
  display: block;
  padding-top: 13px;
  float: left;
}

#head .center .search {
  float: left;
  height: 82px;
  width: 540px;
  padding-top: 28px;
  margin-left: 100px;
}

#head .center .search .search-1 {
  width: 540px;
  height: 38px;
  padding: solid 1px #cecece;
  background: red;
}

#head .center .search .search-1 input {
  width: 430px;
  height: 18px;
  padding: 7px 5px;
  border: solid #ed145b;
  border-width: 3px 0 3px 3px;
  float: left;
  font-size: 12px;
  color: #999;
  outline: 0 none;
}

#head .center .search .search-1 button {
  width: 96px;
  height: 38px;
  border: 0 none;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  float: left;
  background: #ed145b;
  padding: 0;
}

#head .center .search .search-1 ul li {
  list-style: none;
  float: left;
  margin-right: 8px;
  margin-top: 6px;
}

#head .center .search .search-1 ul li a {
  display: inline;
  text-decoration: none;
  color: #999999;
  font-size: 12px;
}

#head .center .search .search-1 ul li a:hover {
  color: #ed145B;
}

#head .center .cat {
  border: 1px solid #e5e5e5;
  display: block;
  height: 32px;
  float: right;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  right: 0;
  margin-top: 30px;
  text-decoration: none;
  color: #6c6c6c;
}

#head .center .cat img {
  padding: 0 9px;
  float: left;
}

#head .center .cat span {
  float: left;
  display: inline;
  padding-left: 6px;
  line-height: 32px;
  background: #f8f8f8;
}

#head .center .cat span:hover {
  color: #ed145B;
}

#head .center .cat-1 {
  width: 260px;
  border: 1px solid #685c5c;
  margin-top: 65px;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  background: #fff;
  margin-left: 790px;
  position: absolute;
  display: none;
}

#head .down {
  width: 100%;
  height: 38px;
  background: url("http://a1.jmstatic.com/e653901f7f30da9c/nav_new_line.jpg") #000 repeat-x;
}

#head .down .down-1 {
  width: 1090px;
  height: 38px;
  margin: 0 auto;
}

#head .down .down-1 ul li {
  width: 100px;
  height: 38px;
  float: left;
  list-style: none;
  line-height: 38px;
  text-align: center;
}

#head .down .down-1 ul li a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

#head .down .down-1 ul li a:hover {
  color: #9b9292;
}

#head .down .down-1 ul li:hover {
  background: #ed145b;
}

#head .down .down-1 .tu1 {
  float: right;
  margin: 3px;
  margin-right: 6px;
}

#left-nav {
  position: absolute;
  position: fixed;
  z-index: 10;
  left: 50px;
}

#left-nav li {
  width: 60px;
  height: 62px;
  background: #ed145B;
  list-style: none;
}

#left-nav li p {
  text-align: center;
  line-height: 30px;
}

#left-nav li .bikan {
  text-decoration: none;
  width: 60px;
  height: 22px;
  padding-top: 40px;
  text-align: center;
  display: block;
  color: #8f8f8f;
  background: url("http://a4.jmstatic.com/00ee6e4ce1a1f31f/pc_new.jpg") #fff no-repeat;
  font-size: 12px;
}

#left-nav li .danpin {
  font-size: 12px;
  text-decoration: none;
  width: 60px;
  height: 22px;
  padding-top: 40px;
  text-align: center;
  display: block;
  color: #8f8f8f;
  background: url("http://a4.jmstatic.com/00ee6e4ce1a1f31f/pc_new.jpg") #fe6397 no-repeat;
}

#right-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 40px;
  background: #444851;
  right: 0px;
  top: 0px;
}

#right-nav li:hover {
  background: #ed145B;
}

#right-nav li {
  list-style: none;
  margin: 0;
}

#right-nav .s-nav {
  top: 50%;
  margin-top: -190px;
  position: absolute;
  z-index: 2;
}

#right-nav .s-nav li:hover {
  background: #ed145B;
}

#right-nav .s-nav .p1 {
  width: 40px;
  height: 38px;
}

#right-nav .s-nav .p1 .a1 {
  display: none;
  margin-left: -220px;
  width: 220px;
  height: 150px;
  border: 1px solid #e5e5e5;
  position: absolute;
  background: red;
}

#right-nav .s-nav .p1 .a1 p {
  height: 60px;
  text-align: center;
  line-height: 60px;
}

#right-nav .s-nav .p1 .a1 span {
  display: inline;
  height: 20px;
  width: 50px;
  margin-left: 30px;
}

#right-nav .s-nav .p1 .p11 {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#right-nav .s-nav .p1 .p11 s {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 19px;
  top: 10px;
  left: 11px;
  background: #ed145B;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
}

#right-nav .s-nav .p2 {
  padding: 20px 0 10px;
  height: 133px;
  position: relative;
  display: block;
  z-index: 1;
}

#right-nav .s-nav .p2 a {
  text-decoration: none;
  line-height: 16px;
  height: 133px;
  background-position: -23px -225px;
  color: #fff;
}

#right-nav .s-nav .p2 a s {
  width: 23px;
  height: 18px;
  top: 11px;
  left: 9px;
  background-position: 0 -29px;
  position: absolute;
  cursor: pointer;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
}

#right-nav .s-nav .p2 a .cat-you {
  font-size: 12px;
  width: 16px;
  display: block;
  height: 48px;
  margin: 38px 0 0 14px;
  cursor: pointer;
  line-height: 16px;
}

#right-nav .s-nav .p2 a .num {
  width: 23px;
  height: 23px;
  display: block;
  border-radius: 50%;
  background: #ed145b;
  text-align: center;
  line-height: 23px;
  margin: 9px 0 0 10px;
  cursor: pointer;
  color: #fff;
}

#right-nav .s-nav .p3 {
  padding-bottom: 6px;
  height: 38px;
}

#right-nav .s-nav .p3 .a3 {
  display: none;
  position: absolute;
  width: 100px;
  height: 40px;
  background: #444851;
  line-height: 40px;
  margin-left: -140px;
  margin-top: -38px;
  text-align: center;
}

#right-nav .s-nav .p3 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

#right-nav .s-nav .p3 a s {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-position: 0 -57px;
  top: 10px;
  left: 11px;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
}

#right-nav .s-nav .p4 {
  padding-bottom: 6px;
  height: 38px;
}

#right-nav .s-nav .p4 .a4 {
  display: none;
  position: absolute;
  width: 100px;
  height: 40px;
  background: #444851;
  margin-left: -140px;
  margin-top: -38px;
  line-height: 38px;
  text-align: center;
}

#right-nav .s-nav .p4 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

#right-nav .s-nav .p4 a s {
  width: 18px;
  height: 15px;
  background-position: 0 -85px;
  top: 11px;
  left: 11px;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
}

#right-nav .s-nav .p5 {
  position: relative;
  display: block;
  height: 38px;
  z-index: 1;
  padding-bottom: 6px;
}

#right-nav .s-nav .p5 .a5 {
  margin-left: -140px;
  margin-top: -38px;
  position: absolute;
  width: 100px;
  height: 40px;
  background: #444851;
  display: none;
  line-height: 38px;
  text-align: center;
}

#right-nav .s-nav .p5 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

#right-nav .s-nav .p5 a s {
  position: absolute;
  cursor: pointer;
  width: 11px;
  height: 24px;
  background-position: -4px -110px;
  top: 8px;
  left: 14px;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
}

#right-nav .x-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  background: #444851;
  z-index: 1;
}

#right-nav .x-nav li:hover {
  background: #ed145B;
}

#right-nav .x-nav .p6 {
  position: relative;
  display: block;
  height: 38px;
  z-index: 1;
}

#right-nav .x-nav .p6 .a6 {
  display: block;
  position: absolute;
  margin-left: -145px;
  margin-top: -170px;
  display: none;
}

#right-nav .x-nav .p6 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

#right-nav .x-nav .p6 a s {
  width: 18px;
  height: 18px;
  top: 11px;
  left: 11px;
  background-position: 0 -302px;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
}

#right-nav .x-nav .p7 {
  position: relative;
  display: block;
  height: 38px;
  z-index: 1;
}

#right-nav .x-nav .p7 .a7 {
  display: none;
  margin-left: -140px;
  margin-top: -38px;
  position: absolute;
  width: 100px;
  height: 40px;
  background: #444851;
  line-height: 40px;
  text-align: center;
}

#right-nav .x-nav .p7 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

#right-nav .x-nav .p7 a s {
  width: 15px;
  height: 16px;
  top: 11px;
  left: 12px;
  background-position: 0 -175px;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
}

#right-nav .x-nav .p8 {
  position: relative;
  display: block;
  height: 38px;
  z-index: 1;
}

#right-nav .x-nav .p8 a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

#right-nav .x-nav .p8 a s {
  width: 17px;
  height: 14px;
  top: 12px;
  left: 12px;
  background-position: 0 -201px;
  position: absolute;
  cursor: pointer;
  background-image: url("http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png");
  background-repeat: no-repeat;
}

#center {
  width: 1090px;
  height: 100%;
  margin: auto;
}

#center .center-nav {
  width: 1090px;
  border-bottom: 2px solid black;
}

#center .center-nav .nav-one {
  display: block;
  background: url("http://a5.jmstatic.com/c9533ddc6b064f8f/old_top_tit.jpg") center top no-repeat;
  width: 100%;
  height: 28px;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 20px;
}

#center .center-nav .nav-two {
  height: 25px;
  background: url("http://a4.jmstatic.com/eaca15a907581788/main_tit02_02.png") #f7f7f7 no-repeat;
  width: 1090px;
  position: relative;
  margin-top: 20px;
}

#center .center-nav .nav-two p {
  float: right;
  font-size: 14px;
}

#center .sp-list {
  display: flex;
  justify-content: space-between;
}

#center .sp-list .sp-1 {
  background: white;
  margin-top: 20px;
  width: 350px;
  height: 470px;
}

#center .sp-list .sp-1 .img {
  display: block;
  width: 330px;
  height: 346px;
  text-decoration: none;
  color: black;
  background: url("http://p4.jmstatic.com/product/004/970/4970404_std/4970404_dx_1000_400.jpg") no-repeat center/cover;
  margin: 10px;
}

#center .sp-list .sp-1 .img .jisu {
  margin: 6px;
}

#center .sp-list .sp-1 .img .cat-che {
  position: absolute;
  height: 35px;
  background: #ed145b;
  line-height: 35px;
  margin-left: 220px;
  margin-top: -40px;
  display: none;
}

#center .sp-list .sp-1 .img .text {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background: blueviolet;
  text-align: center;
  margin-top: 79%;
  display: none;
}

#center .sp-list .sp-1 .title {
  width: 338px;
  height: 48px;
  margin: auto;
  color: #333;
  line-height: 24px;
  font-size: 14px;
  margin: 10px  auto;
}

.daiyan_wrap {
  margin-top: 20px;
  height: 562px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  background-image: url(../images/footer_dy.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.daiyan_wrap .daiyan {
  width: 1090px;
  margin: 0 auto;
  height: 562px;
}

.daiyan_wrap .daiyan .daiyan_top ul {
  overflow: hidden;
  height: 185px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.daiyan_wrap .daiyan .daiyan_top ul li {
  width: 160px;
  height: 185px;
}

.daiyan_wrap .daiyan .daiyan_top ul li:nth-of-type(2) img {
  margin-left: -60px;
}

.daiyan_wrap .daiyan .daiyan_top ul li:nth-of-type(3) img {
  margin-left: -120px;
}

.daiyan_wrap .daiyan .daiyan_top ul li:nth-of-type(4) img {
  margin-left: -180px;
}

.daiyan_wrap .daiyan .daiyan_top ul li:nth-of-type(5) img {
  margin-left: -240px;
}

.daiyan_wrap .daiyan .daiyan_top ul li:nth-of-type(6) img {
  margin-left: -300px;
}

.daiyan_wrap .daiyan .daiyan_top ul li .red_tu {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 31px;
}

.daiyan_wrap .daiyan .daiyan_top ul li .red_tu img {
  cursor: pointer;
  height: 60px;
}

.daiyan_wrap .daiyan .daiyan_top ul li h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 17px;
  color: #333;
  text-align: center;
  cursor: pointer;
}

.daiyan_wrap .daiyan .daiyan_top ul li p {
  font-size: 14px;
  color: #999;
  text-align: center;
  cursor: pointer;
}

.daiyan_wrap .daiyan .daiyan_bottom > ul {
  float: left;
  overflow: hidden;
  width: 850px;
  display: flex;
  justify-content: space-around;
}

.daiyan_wrap .daiyan .daiyan_bottom > ul > li {
  margin-top: 21px;
  float: left;
  width: 150px;
}

.daiyan_wrap .daiyan .daiyan_bottom > ul > li p {
  font-size: 12px;
  color: #666;
  font-weight: 600;
  line-height: 38px;
}

.daiyan_wrap .daiyan .daiyan_bottom > ul > li ul li {
  font-size: 12px;
  color: #666;
  line-height: 23px;
  position: relative;
  cursor: pointer;
}

.daiyan_wrap .daiyan .daiyan_bottom > ul > li ul li:hover {
  color: #ed135d;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma {
  padding-top: 30px;
  float: right;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma > figure {
  float: left;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma > figure:nth-of-type(2) {
  margin: 0 10px 0 30px;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma > figure:nth-of-type(2) img {
  margin-top: -423px;
  margin-left: -78px;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma > figure > p {
  font-size: 14px;
  color: #666;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma > figure > figcaption {
  overflow: hidden;
  width: 78px;
  height: 78px;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma > figure > figcaption img {
  margin-top: -423px;
}

.daiyan_wrap .daiyan .daiyan_bottom .saoma > figure h4 {
  font-size: 11px;
  color: #666;
  text-align: center;
}

.buttom_dh_wrap {
  background-color: #323232;
  height: 48px;
}

.buttom_dh_wrap .buttom_dh {
  width: 1090px;
  height: 48px;
  font-size: 12px;
  color: #fff;
  margin: 0 auto;
  line-height: 48px;
}

.buttom_dh_wrap .buttom_dh ul li {
  margin-left: 17px;
  float: left;
  cursor: pointer;
}

.buttom_dh_wrap .buttom_dh ul li:hover {
  text-decoration: underline;
}

.buttom_wrap {
  height: 128px;
  background: url(../images/newindex_footer_bg.png);
}

.buttom_wrap #buttom {
  padding-top: 13px;
  width: 1150px;
  margin: 0 auto;
}

.buttom_wrap #buttom p {
  color: #ccc;
  font-size: 10px;
  line-height: 23px;
}

.buttom_wrap #buttom h5 {
  float: left;
  width: 126px;
  height: 50px;
  overflow: hidden;
  margin-top: 18px;
  margin-right: 13px;
}

.buttom_wrap #buttom h5:nth-of-type(1) img {
  margin-top: -168px;
}

.buttom_wrap #buttom h5:nth-of-type(2) img {
  margin-top: -219px;
}

.buttom_wrap #buttom h5:nth-of-type(3) img {
  margin-top: -270px;
}

.buttom_wrap #buttom h5:nth-of-type(4) img {
  margin-top: -321px;
}

.buttom_wrap #buttom h5:nth-of-type(5) img {
  margin-top: -372px;
}

.buttom_wrap #buttom h5:nth-of-type(6) {
  width: 55px;
  height: 50px;
}
