* {
    margin: 0;
    padding: 0
}

#head {
    width: 100%;
    // height: 28px;

    //上导航
    .top {
        width: 100%;
        height: 28px;
        background: #f2f2f2;
        border-bottom: 1px solid #e5e5e5;

        .top1 {
            width: 1090px;
            height: 28px;
            margin: auto;
            background: #f2f2f2;

            //左边
            .zuo li,
            .right li {
                margin: 0;
                margin-right: 20px;
                list-style: none;
                float: left;
                line-height: 28px;
                color: #6c6c6c;

                a {
                    text-decoration: none;
                    color: #6c6c6c;
                    font-size: 14px;

                    #shou {
                        color: #ed145B;
                    }

                }

                a:hover {
                    color: #ed145B;
                }

            }

            //右边
            .right {
                display: block;
                float: right;

            }
        }

    }

    .bottom {
        width: 1090px;
        height: 88px;
        // background: red;
        margin: auto;

        .mianshui {
            width: 255px;
            height: 88px;
            background: url(../img/home_logo.png) no-repeat;
            float: left;
        }

        .cat-che {

            float: right;
            width: 167px;
            margin-top: 30px;
            background: url(../img/maincart.png) no-repeat;
            height: 32px;
            text-align: center;
            line-height: 32px;

            a {
                text-decoration: none;
                color: #999;
                width: 72px;
                height: 15px;
                font-size: 12px;

            }

            .cat-tan {
                z-index: 10;
                width: 335px;
                height: 199px;
                border: 1px solid #d0d0d0;
                position: relative;
                left: -169px;
                background: url(../img/nav_null_cart.jpg) no-repeat 20px 50px;
                background-color: #fff;
                display: none;

                p {
                    width: 130px;
                    font-size: 12px;
                    color: #343434;
                    line-height: 19px;
                    position: absolute;
                    top: 80px;
                    left: 160px;
                    text-indent: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

//商品详情
.xq {
    width: 1090px;
    margin: 0 auto;
  }
  
  .xq_wrap {
    .xq {
      height: 470px;
      .xq_tu {
        margin-left: 0px;
        margin-top: 50px;
        float: left;
        width: 575px;
        height: 360px;
        overflow: hidden;
        border: 1px solid #eeeeee;
        position: relative;
        img {
          height: 100%;
          width: 100%;
        }
        .lens {
          width: 200px;
          height: 200px;
          position: absolute;
        }
      }
      .xq_tu1 {
        margin-left: 0px;
        margin-top: 50px;
        float: left;
        width: 400px;
        height: 400px;
        top: 100px;
        left: 800px;
        overflow: hidden;
        // border: 1px solid #eeeeee;
        position: absolute;
        display: none;
        img {
          width: 1150px;
          height: 720px;
          opacity: 0;
          position: absolute;
        }
      }
      .xq_xinxi {
        float: left;
        width: 400px;
        height: 300px;
        margin: 80px 0 0 60px;
  
        h2 {
          font-size: 16px;
          color: #636363;
          line-height: 40px;
          font-weight: 600;
        }
        h3 {
          font-size: 16px;
          color: #636363;
          line-height: 40px;
          // font-weight: 600;
        }
        b {
          font-size: 14px;
          line-height: 50px;
          color: #939393;
          span {
            font-size: 20px;
            color: #dd467d;
          }
        }
        .che {
          margin-top: 20px;
          .tianjia {
            width: 70px;
            height: 46px;
            text-align: center;
            float: left;
            #zhi {
              width: 42px;
              height: 42px;
              border: 1px solid #636363;
              line-height: 44px;
              border-right: none;
              float: left;
              text-indent: 14px;
            }
            #jia {
              width: 15px;
              float: left;
              border: 1px solid #636363;
              height: 22px;
              border-bottom: none;
              cursor: pointer;
            }
            #jian {
              width: 15px;
              float: left;
              border: 1px solid #636363;
              cursor: pointer;
              height: 20px;
            }
          }
          button {
            float: left;
            width: 142px;
            height: 46px;
            background-color: #df3133;
            border: none;
            margin-left: 50px;
            color: #fff;
            border-radius: 5px;
          }
        }
      }
    }
  }
